<div class="modal fade" id="modal-branch-edit">
    <div class="modal-dialog">
        <div class="modal-content">
             <div class="modal-header mt-3">
                <h3>ແກ້ໄຂຂໍ້ມູນສາຂາ</h3>
            </div>
             <div class="modal-body">
                <form class="row g-3">
                    <div class="col-6 mb-4">
                        <label class="form-label">ລະຫັດສາຂາ</label>
                        <input type="text" class="form-control" disabled readonly>                    
                    </div>
                    <div class="col-6  mb-4">
                        <label class="form-label">ຊື່ສາຂາ</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-6  mb-4">
                        <label >ທີ່ຢູ່</label>
                        <textarea class="form-control" name="" id="" cols="30" rows="5"></textarea>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-warning">ບັນທຶກ</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

