<div class="modal fade" id="modal-staff-edit">
    <div class="modal-dialog">
        <div class="modal-content">
             <div class="modal-header mt-3">
                <h3>ແກ້ໄຂຂໍ້ມູນພະນັກງານ</h3>
            </div>
             <div class="modal-body">
                <form class="row g-3">
                    <div class="col-6 mb-4 ">
                        <input type="file" id="imgupload" (change)="selectFile($event)" style="display:none" hidden>
                        <label for="imgupload"><img  [src]="url" width="220" height="200" alt=""></label>                   
                    </div>
                    <div class="col-6 mb-4">
                        <div class="row">
                            <div class="col-12 mb-4">
                                <label class="form-label">ລະຫັດພະນັກງານ</label>
                                <input type="text" class="form-control"> 
                            </div>
                            <div class="col-12">
                                <label class="form-label">ຊື່ພະນັກງານ</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                                          
                    </div>
                    <div class="col-6  mb-4">
                        <label class="form-label">ວັນເດືອນປີເກີດ</label>
                        <input type="date" class="form-control">
                    </div>
                    <div class="col-6  mb-4">
                        <label >ເບີໂທ</label>
                        <input type="tel" class="form-control">
                    </div>
                    <div class="col-6  mb-4">
                        <label >ບ້ານ</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-6  mb-4">
                        <label >ເມືອງ</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-12  mb-4 ">
                        <label >ແຂວງ</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-12">
                        <button class="btn btn-warning">ບັນທຶກ</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

