<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mt-4">
            <div class="card">
                <div class="card-body">
                    <h4>ຈັດການຂໍ້ມູນສາງສິນຄ້າ</h4>
                    <div class="row pl-3 pr-3 mt-4">
                        <div class="form-group">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#modal-product-category-new"><i class="fas fa-file-import"></i> ນຳເຂົ້າສິນຄ້າ</button>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary ml-1" data-toggle="modal" data-target="#modal-product-category-new"><i class="fas fa-inbox"></i> ເບີກສິນຄ້າ</button>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary ml-1" data-toggle="modal" data-target="#modal-product-category-new"><i class="fas fa-inbox"></i> ລາຍງານສິນຄ້າມີບັນຫາ</button>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary ml-1" data-toggle="modal" data-target="#modal-product-category-new"><i class="fas fa-retweet"></i> ເລືອກລາຍການສະແດງ</button>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success ml-1"><i class="fas fa-sync-alt"></i></button>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-search"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="ຄົ້ນຫາ">
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped mt-3">
                            <thead>
                                <tr class="font-weight-bold">
                                    <td>ລະຫັດສິນຄ້າ</td>
                                    <td>ຊື່ສິນຄ້າ</td>
                                    <td>ປະເພດສິນຄ້າ</td>
                                    <td>ຫົວໜ່ວຍສິນຄ້າ</td>
                                    <td>ລາຄາຊື້</td>
                                    <td>ລາຄາຂາຍຍ່ອຍ</td>
                                    <td>ຈຳນວນ</td> 
                                    <td>ລະຫັດຂາຍສົ່ງ</td> 
                                    <td>ລາຄາຂາຍສົ່ງ</td> 
                                    <td>ຈຳນວນ</td> 
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>ແປບຊີ້</td>
                                    <td>ເຄືອງດື່ມ</td>
                                    <td>ຕຸກ</td>
                                    <td class="text-danger">2500</td>
                                    <td class="text-danger">5000</td>
                                    <td>0</td>
                                    <td>1</td>
                                    <td class="text-danger">45000</td>
                                    <td>0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <app-product-new></app-product-new>
<app-product-edit></app-product-edit> -->