<div class="modal fade" id="modal-products-edit">
    <div class="modal-dialog">
        <div class="modal-content">
             <div class="modal-header mt-3">
                <h3>ແກ້ໄຂຂໍ້ມູນສິນຄ້າ</h3>
            </div>
             <div class="modal-body">
                <form class="row g-3">
                    <div class="col-6 mb-4">
                        <label class="form-label">ລະຫັດສິນຄ້າ</label>
                        <input type="text" class="form-control" disabled readonly>                    
                    </div>
                    <div class="col-6  mb-4">
                        <label class="form-label">ຊື່ສິນຄ້າ</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-6  mb-4">
                        <label class="form-label">ປະເພດສິນຄ້າ</label>
                        <select id="inputState" class="form-control">
                            <option selected>ເຄື່ອງດື່ມ</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-6  mb-4">
                        <label >ຫົວໜ່ວຍສິນຄ້າ</label>
                        <input type="tel" class="form-control">
                    </div>
                    <div class="col-6  mb-4">
                        <label >ລາຄາຂາຍຍ່ອຍ</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-6  mb-4">
                        <label >ຈຳນວນ</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-6  mb-4">
                        <label >ລະຫັດຂາຍສົ່ງ</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-6  mb-4">
                        <label >ລາຄາຂາຍສົ່ງ</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-6  mb-4">
                        <label >ຈຳນວນ</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-12">
                        <button class="btn btn-warning">ບັນທຶກ</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

