<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mt-4">
            <div class="card">
                <div class="card-body">
                    <h4>ຈັດການຂໍ້ມູນຜູ້ໃຊ້ລະບົບ</h4>
                    <button class="btn btn-primary mt-2" data-toggle="modal" data-target="#modal-user-new"><i class="fas fa-plus"></i> ສ້າງຂໍ້ມູນໃໝ່</button>
                    <div class="input-group mt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="ຄົ້ນຫາ">
                    </div>
                    <table class="table table-striped mt-4">
                        <thead>
                            <tr class="font-weight-bold">
                                <td>ລະຫັດພະນັກງານ</td>
                                <td>ຊື່ພະນັກງານ</td>
                                <td>Username</td>
                                <td>Password</td>
                                <td>ລະດັບການໃຊ້ງານ</td>
                                <td>Action</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>E001</td>
                                <td>ບິ່ນລີ້</td>
                                <td>binry</td>
                                <td>1234</td>
                                <td>Admin</td>
                                <td width="15%">
                                    <button class="btn btn-warning text-white mr-1" data-toggle="modal" data-target="#modal-user-edit"><i class="fas fa-pencil-alt"></i></button>
                                    <button class="btn btn-danger text-white"><i class="fas fa-trash-alt"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>E002</td>
                                <td>ເມສຊີ້</td>
                                <td>messi</td>
                                <td>0000</td>
                                <td>User</td>
                                <td width="15%">
                                    <button class="btn btn-warning text-white mr-1" data-toggle="modal" data-target="#modal-user-edit"><i class="fas fa-pencil-alt"></i></button>
                                    <button class="btn btn-danger text-white"><i class="fas fa-trash-alt"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<app-user-new></app-user-new>
<app-user-edit></app-user-edit>