<div class="modal fade" id="modal-zone-new">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header mt-3">
                <h3>ເພີ່ມໂຊນສິນຄ້າ</h3>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="form-group">
                        <label for="">ລະຫັດໂຊນສິນຄ້າ</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">ຊື່ໂຊນສິນຄ້າ</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">ລາຍລະອຽດ</label>
                        <textarea class="form-control" name="" id="" cols="10" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="">ທີ່ຕັ້ງຂອງໂຊນ</label>
                        <textarea class="form-control" name="" id="" cols="10" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success text-white">ບັນທຶກ</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
